@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Baskervville|Roboto:400,700&display=swap";

* {
    margin:0;
    padding: 0;
    border: 0;
}
body {
    margin: 0 auto;
    max-width: 940px;
}
header {
    display: flex;
    padding: 30px;
}
.links {
    display: flex;
}
.links h3 {
    font-size: 28px;
    font-family: 'Baskervville', sans-serif;
}
.links a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #111111;
}



/* header {
    margin: 0 auto;
    max-width: 940px;
}
.links {
   
    justify-content: center;
}
.links h3 {
    padding: 30px;
    font-size: 28px;
    height: 26.9px;
    font-family: 'Baskervville', sans-serif;
    float: left;
}

.links a {
    padding: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    text-decoration: none;
    float: right;
} */
